<div class="main_container container">

<%= form_with(url: password_resets_path, local: true, method: :post) do |form| %>
  <div class="field">
    <%= form.label :email, 'メールアドレス', class: 'label' %>
    <%= form.text_field :email, class: 'input is-medium' %>
  </div>
  <%= form.submit "パスワードリセット", class: 'button' %>
<% end %>

</div>