<div class="main_container container">

<%= render 'form' %>

<hr>

<div style="margin-bottom: 1em;">
<h2 class="title">新規登録の方はこちら</h2>
<p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Repellat reprehenderit illo natus facilis eum asperiores, earum ad doloribus, provident eos voluptates? Neque veritatis magni placeat officiis modi inventore voluptates veniam.</p>
</div>
<%= link_to "ユーザー登録ページ", new_user_path, class: "button is-primary" %>

</div>

